language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"
# command to install dependencies
install:
- pip install -r requirements.txt
- pip install -e .
# commands to run tests
script:
- pytest --doctest-modules --ignore setup.py
